@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}
:root{
    --pearson-blue: hsla(193, 100%, 39%, 1);
    --pearson-deeper-blue: hsla(193, 100%, 31%, 1);
}
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
button {
	font-family: "Playfair Display", serif;
}

.center {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}
.faint {
    opacity: .5;
}