@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}
:root{
    --pearson-blue: hsla(193, 100%, 39%, 1);
    --pearson-deeper-blue: hsla(193, 100%, 31%, 1);
}
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
button,
.btn {
	font-family: "Playfair Display", serif;
    padding:0;
    margin:0;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.column {
    flex-direction: column; 
}
.faint {
    opacity: .5;
}

button, .btn {
    border: none;
    background: white;
    padding: 0 2rem;
    border-radius: 4rem;
    color: var(--pearson-blue);
    padding: 1rem 2rem
}  
.big{
    font-size: 1.3rem;
}
.bold { font-weight: bold;}
.rounded {
    border-radius: 1rem;
}